::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-input-light-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

::-webkit-scrollbar-thumb {
  background: var(--button-light-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-hover-light-color);
}

:root {
  /* LIGHT */
  --background-light-color: rgb(236, 237, 255);
  --background-container-light-color: rgb(255, 255, 255);
  --button-light-color: rgb(81, 85, 195);
  --button-hover-light-color: rgb(54, 58, 182);
  --background-input-light-color: rgb(245, 245, 245);
  --border-light-color: #aaa;

  /* DARK */
  --background-dark-color: rgb(16, 23, 39);
  --background-container-dark-color: rgb(23, 33, 68);
  --button-dark-color: rgb(152, 79, 231);
  --button-hover-dark-color: rgb(128, 37, 226);
  --background-input-dark-color: rgb(29, 42, 88);
  --border-dark-color: rgb(39, 59, 131);

  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --text-white-color: rgb(255, 255, 255);
  --text-black-color: rgb(0, 0, 0);

  --blue-color: #007bff;
  --blue-hover-color: #0068d6;
  --red-color: #dc3545;
  --red-hover-color: #be0d1f;
  --green-color: #28a745;
  --green-hover-color: #188d33;
  --yellow-color: #ebab0a;
  --yellow-hover-color: #d39908;

  --red-rgba-color: rgba(220, 53, 69, 0.3);
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Regular", sans-serif;
  transition: background 0.3s ease-in-out;
}

.sklep-menu-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sklep-uzytkownik-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background: var(--background-container-light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  padding: 10px 10px 10px 30px;
  font-size: 20px;
  height: 80px;
}

#username {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
}

.sklep-uzytkownik-container button {
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  background: var(--button-light-color);
  width: 60px !important;
  height: 60px !important;
  padding: 20px;
  box-sizing: border-box;
}

.sklep-uzytkownik-container button:hover {
  background: var(--button-hover-light-color);
}

.sklep-uzytkownik-container button img {
  width: 100%;
}

nav {
  width: 70%;
  height: 50%;
  background: var(--background-container-light-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sklep-menu-btn {
  width: calc(100% / 5);
  height: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
}

.sklep-menu-btn img {
  width: 40%;
  margin-bottom: 10px;
}

.sklep-menu-btn:first-child {
  margin-left: 20px;
}

.sklep-menu-btn:last-child {
  margin-right: 20px;
}

.sklep-menu-btn:disabled {
  background: #ccc;
  cursor: default;
}

.sklep-pozycje-wydania {
  width: 20%;
  height: 100%;
  background: var(--background-container-light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
}

table#pozycja-wydania th {
  font-size: 20px;
}

table#pozycja-wydania tbody tr {
  margin-top: 10px;
}

table#pozycja-wydania tbody td {
  font-size: 30px;
}

table#pozycje-wydania thead th:first-child,
table#pozycje-wydania tbody td:first-child {
  width: 40px;
  text-align: center;
}

table#pozycje-wydania th:nth-child(2),
table#pozycje-wydania td:nth-child(2) {
  text-align: center;
}

table#pozycje-wydania th:nth-child(3),
table#pozycje-wydania td:nth-child(3) {
  width: 40px;
  text-align: center;
}

table#pozycje-wydania th:nth-child(4),
table#pozycje-wydania td:nth-child(4) {
  width: 80px;
  text-align: center;
}

table#pozycje-wydania th:last-child,
table#pozycje-wydania td:last-child {
  width: 50px;
  text-align: center;
}

button.usun-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  background: var(--red-color) !important;
  margin-right: 5px;
}

button.usun-btn img {
  width: 100%;
}

.sklep-pozycje-wydania h2 {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: var(--text-white-color);
  background: var(--button-light-color);
  border-radius: 10px 10px 0 0;
  letter-spacing: 1.5px;
}

.podsumowanie-wydania {
  width: 100%;
  background: var(--button-light-color);
  display: flex;
}

.podsumowanie-wydania span#razem-wydania {
  width: 50%;
  color: var(--text-white-color);
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 5px 10px;
}

.podsumowanie-wydania span#wartosc-wydania {
  background: var(--background-input-light-color);
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: right;
}

.pozycje-wydania-btn-container {
  display: flex;
}

.pozycje-wydania-btn-container button {
  width: calc(100% / 3);
  padding: 35px;
  height: 100px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pozycje-wydania-btn-container button img {
  width: 100%;
}

button#gotowka {
  background: var(--green-color) !important;
}

button#gotowka:hover {
  background: var(--green-hover-color) !important;
}

button#karta {
  background: var(--blue-color) !important;
}

button#karta:hover {
  background: var(--blue-hover-color) !important;
}

button#bon {
  background: var(--yellow-color) !important;
}

button#bon:hover {
  background: var(--yellow-hover-color) !important;
}

button#pozycje-wydania-anuluj {
  background: var(--red-color) !important;
  border-radius: 0 0 10px 10px;
}

button#pozycje-wydania-anuluj:hover {
  background: var(--red-hover-color) !important;
}

.sklep-wybor-towarow {
  width: calc(80% - 20px);
  margin-left: 20px;
  height: 100%;
  background: var(--background-container-light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.lody-rzemieslnicze-rzad {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.lody-rzemieslnicze-smak {
  height: 230px;
  width: 230px;
  font-size: 24px;
  background: var(--background-input-light-color);
  color: var(--text-black-color);
  box-shadow: 0 0 5px var(--box-shadow-color);
  outline: none;
}

.lody-rzemieslnicze-smak:hover {
  background: var(--background-input-light-color);
}

.lody-rzemieslnicze-rzad:first-child .lody-rzemieslnicze-smak {
  margin: 20px 10px 10px 10px;
}

.lody-rzemieslnicze-rzad:last-child .lody-rzemieslnicze-smak {
  margin: 10px 10px 20px 10px;
}

.lody-rzemieslnicze-rzad .lody-rzemieslnicze-smak:first-child {
  margin-left: 20px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulozenie-kuwet-container {
  height: 600px;
  background: var(--background-container-light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  padding: 10px;
  text-align: center;
}

.ulozenie-kuwet-container h2 {
  font-size: 30px;
  padding: 20px 0 30px 0;
}

.ulozenie-kuwet-row {
  width: 100%;
  display: flex;
}

.ulozenie-kuwet-kuweta {
  width: 200px;
  background: var(--background-input-light-color);
  height: 200px;
  margin: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid var(--border-light-color);
}

.dostepne-kuwety-container {
  width: 20%;
  height: 600px;
  background: var(--background-container-light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dostepne-kuwety-container h2 {
  padding: 20px;
}

table#dostepne-kuwety {
  width: calc(100% - 40px);
  border-collapse: separate;
  border-spacing: 0 10px;
}

table#dostepne-kuwety thead,
table#dostepne-kuwety tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table#dostepne-kuwety tbody {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}

table#dostepne-kuwety tbody tr {
  cursor: grab;
}

tr.kuweta-item td {
  width: 50%;
  padding: 10px;
  text-align: center;
}

tr.kuweta-item td:first-child {
  border-radius: 5px 0 0 5px;
}

tr.kuweta-item td:last-child {
  border-radius: 0 5px 5px 0;
}

.dostepne-kuwety-btn {
  width: 90%;
  margin-top: 10px;
}

.dostepne-kuwety-btn:last-child {
  margin-bottom: 10px;
}

.dostepne-kuwety-btn-odstep {
  margin-top: auto;
}

#zamowienie-zapisz-btn {
  width: 200px;
  position: absolute;
  right: 150px;
  bottom: 40px;
}

#sprzedaz-menu-btn {
  width: 100px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.zamowienie-kuwet-container {
  width: 80%;
  height: 70vh;
  display: flex;
}

.zamowienie-dostepne-kuwety {
  width: calc(100% / 3);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  background: var(--background-container-light-color);
  margin-right: 10px;
  padding: 20px;
}

.zamowienie-dostepne-smaki {
  width: calc(100% / 3);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  background: var(--background-container-light-color);
  margin: 0 10px 0 10px;
  padding: 20px;
}

.zamowienie-zamowione-kuwety {
  width: calc(100% / 3);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  background: var(--background-container-light-color);
  margin-left: 10px;
  padding: 20px;
}

.zamowienie-dostepne-kuwety h2,
.zamowienie-zamowione-kuwety h2,
.zamowienie-dostepne-smaki h2 {
  text-align: center;
  margin: 20px auto;
  border-radius: 5px;
  color: var(--text-white-color);
  letter-spacing: 1px;
  padding: 10px;
  background: var(--button-light-color);
  width: 80%;
  font-size: 20px;
}

table#zamowienie-dostepne-kuwety-table,
table#zamowienie-dostepne-smaki-table,
table#zamowienie-zamowione-kuwety-table {
  width: 100%;
}

button.zamowienie-kuwety-btn,
button.zamowienie-smaki-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  background: var(--green-color) !important;
}

button.zamowienie-kuwety-btn:hover,
button.zamowienie-smaki-btn:hover {
  background: var(--green-hover-color) !important;
}

button.zamowienie-kuwety-btn img,
button.zamowienie-smaki-btn img {
  width: 100%;
}

table#zamowienie-dostepne-kuwety-table,
table#zamowienie-dostepne-smaki-table,
table#zamowienie-zamowione-kuwety-table {
  width: 100%;
  border-collapse: collapse;
}

table#zamowienie-dostepne-kuwety-table thead,
table#zamowienie-dostepne-smaki-table thead,
table#zamowienie-zamowione-kuwety-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}

table#zamowienie-dostepne-kuwety-table thead th,
table#zamowienie-dostepne-smaki-table thead th,
table#zamowienie-zamowione-kuwety-table thead th {
  background: var(--button-light-color);
  font-size: 16px;
  padding: 14px;
  color: var(--text-white-color);
  letter-spacing: 1px;
}

table#zamowienie-dostepne-kuwety-table thead th:first-child,
table#zamowienie-dostepne-smaki-table thead th:first-child,
table#zamowienie-zamowione-kuwety-table thead th:first-child {
  border-radius: 5px 0 0 5px;
}

table#zamowienie-dostepne-kuwety-table thead th:last-child,
table#zamowienie-dostepne-smaki-table thead th:last-child,
table#zamowienie-zamowione-kuwety-table thead th:last-child {
  border-radius: 0 5px 5px 0;
}

table#zamowienie-dostepne-kuwety-table tbody,
table#zamowienie-dostepne-smaki-table tbody,
table#zamowienie-zamowione-kuwety-table tbody {
  display: block;
  max-height: calc(100vh - 450px - 10px);
  overflow-y: auto;
}

table#zamowienie-dostepne-kuwety-table tbody tr,
table#zamowienie-dostepne-smaki-table tbody tr,
table#zamowienie-zamowione-kuwety-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 5px;
}

table#zamowienie-dostepne-kuwety-table tbody td,
table#zamowienie-dostepne-smaki-table tbody td,
table#zamowienie-zamowione-kuwety-table tbody td {
  padding: 10px !important;
  font-size: 20px;
  text-align: center;
}

table#zamowienie-dostepne-kuwety-table tbody td:last-child,
table#zamowienie-dostepne-kuwety-table thead th:last-child,
table#zamowienie-dostepne-smaki-table tbody td:last-child,
table#zamowienie-dostepne-smaki-table thead th:last-child,
table#zamowienie-zamowione-kuwety-table tbody td:last-child,
table#zamowienie-zamowione-kuwety-table thead th:last-child {
  width: 70px;
}

table#zamowienie-dostepne-kuwety-table tbody td:first-child,
table#zamowienie-zamowione-kuwety-table tbody td:first-child {
  border-radius: 10px 0 0 10px;
}

table#zamowienie-dostepne-kuwety-table tbody td:nth-child(2),
table#zamowienie-zamowione-kuwety-table tbody td:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

table#zamowienie-dostepne-smaki-table tbody td {
  border-radius: 10px;
}

span#message {
  opacity: 1;
  transition: 0.3s ease-in-out;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  margin: auto 10px 10px 10px;
  text-align: center;
}

p#zamowienia-info {
  display: block;
  position: absolute;
  bottom: 30px;
  width: 50%;
  text-align: center;
  color: var(--text-black-color);
  background: var(--background-container-light-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  border: 2px solid var(--button-light-color);
  font-size: 20px;
  padding: 10px;
}

.sprzedaz-pozostale {
  display: flex;
  align-items: flex-start; /* Wyrównuje elementy wewnętrzne od góry */
  justify-content: flex-start; /* Wyrównuje elementy do lewej */
  flex-wrap: wrap; /* Pozwala elementom przejść do następnego wiersza, jeśli jest to konieczne */
}

.licznik-pojemnika {
  width: 20px;
  height: 280px;
  border: 1px solid var(--border-light-color);
  position: relative;
  background: #eee;
  margin: 10px 0 0 20px;
  border-radius: 20px;
}

.licznik-wypelnienie {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: green;
  color: white;
  text-align: center;
  font-size: 10px;
  transition: height 0.3s ease;
  border-radius: 20px;
}

.licznik-pojemnika-kawa {
  width: 20px;
  height: 280px;
  border: 1px solid var(--border-light-color);
  position: relative;
  background: #eee;
  margin: 10px 0 0 10px;
  border-radius: 20px;
}

.licznik-wypelnienie-kawa {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: green;
  color: white;
  text-align: center;
  font-size: 10px;
  transition: height 0.3s ease;
  border-radius: 20px;
}

.sprzedaz-pozostale-rzad {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pozostale-towary {
  width: 150px;
  height: 150px;
  margin: 15px 10px 0 10px;
  background: var(--background-input-light-color) !important;
  color: var(--text-black-color);
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.pozostale-towary:first-child {
  margin-left: 20px;
}

button.reset-wloskie {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  bottom: 40px;
  padding: 5px;
}

button.reset-wloskie img {
  width: 100%;
}

button.reset-kawa {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-left: 390px;
  bottom: 40px;
  padding: 5px;
}

button.reset-kawa img {
  width: 100%;
}

.lody-rzemieslnicze-rzad:first-child button.dodatek {
  width: 150px;
  height: 230px;
  margin: 20px 10px 10px 10px;
  text-align: center;
  background: url("../img/polewa.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px var(--box-shadow-color);
  color: var(--text-white-color);
  font-size: 30px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.lody-rzemieslnicze-rzad:last-child button.dodatek {
  width: 150px;
  height: 230px;
  margin: 10px 10px 20px 10px;
  text-align: center;
  background: #f8f4ea;
  color: var(--text-black-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  font-size: 30px;
}
