body.dark-mode ::-webkit-scrollbar-track {
  background: var(--background-input-dark-color);
}

body.dark-mode ::-webkit-scrollbar-thumb {
  background: var(--button-dark-color);
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: var(--button-hover-dark-color);
}

:root {
  /* LIGHT */
  --background-light-color: rgb(236, 237, 255);
  --background-container-light-color: rgb(255, 255, 255);
  --button-light-color: rgb(81, 85, 195);
  --button-hover-light-color: rgb(54, 58, 182);
  --background-input-light-color: rgb(245, 245, 245);
  --border-light-color: #aaa;

  /* DARK */
  --background-dark-color: rgb(16, 23, 39);
  --background-container-dark-color: rgb(23, 33, 68);
  --button-dark-color: rgb(152, 79, 231);
  --button-hover-dark-color: rgb(128, 37, 226);
  --background-input-dark-color: rgb(29, 42, 88);
  --border-dark-color: rgb(39, 59, 131);

  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --text-white-color: rgb(255, 255, 255);
  --text-black-color: rgb(0, 0, 0);
}

/* COLOR SCHEME */
body.dark-mode * {
  color-scheme: dark;
}

/* DARK BACKGROUND */
body.dark-mode,
body.dark-mode .confirm-delete,
body.dark-mode .confirm-restore {
  background: var(--background-dark-color);
}

/* DARK CONTAINER */
body.dark-mode form#form-login-password,
body.dark-mode form#form-login-pin,
body.dark-mode .centrala-uzytkownik-container,
body.dark-mode .sklep-uzytkownik-container,
body.dark-mode nav,
body.dark-mode .centrala-main-container,
body.dark-mode form#przypisywanie-uzytkownika,
body.dark-mode form#dodawanie-smaku,
body.dark-mode form#dodawanie-uzytkownika,
body.dark-mode form#dodawanie-rozmiaru,
body.dark-mode form#dodawanie-sklepu,
body.dark-mode .centrala-filtrowanie,
body.dark-mode form.ustawienia,
body.dark-mode form.serwis,
body.dark-mode .ulozenie-kuwet-container,
body.dark-mode .dostepne-kuwety-container,
body.dark-mode .sklep-wybor-towarow,
body.dark-mode .sklep-pozycje-wydania,
body.dark-mode .zamowienie-dostepne-kuwety,
body.dark-mode .zamowienie-dostepne-smaki,
body.dark-mode .zamowienie-zamowione-kuwety,
body.dark-mode p#zamowienia-info {
  background: var(--background-container-dark-color);
}

/* DARK INPUT */
body.dark-mode input,
body.dark-mode select,
body.dark-mode table#pin-keyboard .pin-key,
body.dark-mode #przypisywanie-uzytkownika-sklepy,
body.dark-mode nav .dropdown-menu,
body.dark-mode .progress-container,
body.dark-mode .sklep-menu-btn:disabled,
body.dark-mode .ulozenie-kuwet-kuweta,
body.dark-mode span#wartosc-wydania,
body.dark-mode .apexcharts-menu,
body.dark-mode .wykres-container {
  background: var(--background-input-dark-color);
}

/* DARK BUTTON */
body.dark-mode button,
body.dark-mode button#theme-toggle,
body.dark-mode table#pin-keyboard .pin-key:active,
body.dark-mode table#pin-keyboard .pin-key-action,
body.dark-mode nav a.logo,
body.dark-mode nav a.nav-link:hover,
body.dark-mode nav a.active,
body.dark-mode table#centrala-smaki thead th,
body.dark-mode table#centrala-uzytkownicy thead th,
body.dark-mode table#centrala-rozmiary thead th,
body.dark-mode table#centrala-sklepy thead th,
body.dark-mode table#centrala-kuwety thead th,
body.dark-mode table#centrala-rcp thead th {
  background: var(--button-dark-color);
}

/* DARK BUTTON HOVER */
body.dark-mode button:hover,
body.dark-mode table#pin-keyboard .pin-key-action:hover,
body.dark-mode .centrala-uzytkownik-container button:hover,
body.dark-mode .sklep-uzytkownik-container button:hover {
  background: var(--button-hover-dark-color) !important;
}

/* DARK BORDER */
body.dark-mode input,
body.dark-mode select,
body.dark-mode input:focus,
body.dark-mode select:focus,
body.dark-mode table#pin-keyboard .pin-key,
body.dark-mode #przypisywanie-uzytkownika-sklepy,
body.dark-mode .ulozenie-kuwet-kuweta {
  border: 1px solid var(--border-dark-color);
}

/* DARK TEXT COLOR */
body.dark-mode,
body.dark-mode input,
body.dark-mode select,
body.dark-mode table#pin-keyboard .pin-key,
body.dark-mode table#pin-keyboard .pin-key:active,
body.dark-mode nav a.nav-link,
body.dark-mode .centrala-main-container,
body.dark-mode table#centrala-smaki thead th,
body.dark-mode table#centrala-uzytkownicy thead th,
body.dark-mode table#centrala-rozmiary thead th,
body.dark-mode table#centrala-sklepy thead th,
body.dark-mode table#centrala-kuwety thead th,
body.dark-mode table#centrala-rcp thead th,
body.dark-mode .progress-text,
body.dark-mode .ulozenie-kuwet-container h2,
body.dark-mode p#zamowienia-info,
body.dark-mode p#message-login {
  color: var(--text-white-color);
}

/* DARK TEXT COMMENT COLOR */
body.dark-mode p#dodawanie-komentarz {
  color: var(--button-dark-color);
}

body.dark-mode .apexcharts-title-text,
body.dark-mode .wykres-container tspan,
body.dark-mode .apexcharts-legend-text,
body.dark-mode .apexcharts-menu-icon svg,
body.dark-mode .apexcharts-reset-icon svg,
body.dark-mode .apexcharts-zoom-icon svg,
body.dark-mode .apexcharts-zoomin-icon svg,
body.dark-mode .apexcharts-zoomout-icon svg {
  fill: var(--text-white-color);
  color: var(--text-white-color) !important;
}

body.dark-mode p#zamowienia-info {
  border: 2px solid var(--button-dark-color);
}
