::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-input-light-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

::-webkit-scrollbar-thumb {
  background: var(--button-light-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-hover-light-color);
}

:root {
  /* LIGHT */
  --background-light-color: rgb(236, 237, 255);
  --background-container-light-color: rgb(255, 255, 255);
  --button-light-color: rgb(81, 85, 195);
  --button-hover-light-color: rgb(54, 58, 182);
  --background-input-light-color: rgb(245, 245, 245);
  --border-light-color: #aaa;

  /* DARK */
  --background-dark-color: rgb(16, 23, 39);
  --background-container-dark-color: rgb(23, 33, 68);
  --button-dark-color: rgb(152, 79, 231);
  --button-hover-dark-color: rgb(128, 37, 226);
  --background-input-dark-color: rgb(29, 42, 88);
  --border-dark-color: rgb(39, 59, 131);

  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --text-white-color: rgb(255, 255, 255);
  --text-black-color: rgb(0, 0, 0);

  --blue-color: #007bff;
  --blue-hover-color: #0068d6;
  --red-color: #dc3545;
  --red-hover-color: #be0d1f;
  --green-color: #28a745;
  --green-hover-color: #188d33;

  --red-rgba-color: rgba(220, 53, 69, 0.3);
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Regular", sans-serif;
  transition: background 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-light-color);
  color: var(--text-light-color);
  transition: background-color 0.3s, color 0.3s;
}

/* GLOBAL */
label {
  font-size: 20px;
}

input,
select {
  width: 100%;
  height: 50px;
  background: var(--background-input-light-color);
  border: 1px solid var(--border-light-color);
  border-radius: 5px;
  margin: 6px 0 20px 0;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  font-size: 18px;
  text-align: center;
}

input:focus,
select:focus {
  border: 2px solid var(--button-light-color);
}

button {
  width: 100%;
  height: 50px;
  background: var(--button-light-color);
  color: var(--text-white-color);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  touch-action: manipulation;
}

button:hover {
  background: var(--button-hover-light-color);
}
/* GLOBAL */

.lody-rzemieslnicze-smak,
.dodatek {
  transition: 0.1s;
}

button#reload {
  width: 50px;
  height: 50px;
  background: chocolate;
  position: absolute;
  top: 0;
  left: 0;
}

html.dark-mode body ::-webkit-scrollbar-track {
  background: var(--background-input-dark-color);
}

html.dark-mode body ::-webkit-scrollbar-thumb {
  background: var(--button-dark-color);
}

html.dark-mode body ::-webkit-scrollbar-thumb:hover {
  background: var(--button-hover-dark-color);
}

/* COLOR SCHEME */
html.dark-mode body * {
  color-scheme: dark;
}

/* DARK BACKGROUND */
html.dark-mode body,
html.dark-mode body .confirm-delete,
html.dark-mode body .confirm-restore,
html.dark-mode body table#zamowienie-pozostale-towary tbody tr td {
  background: var(--background-dark-color);
}

/* DARK CONTAINER */
html.dark-mode body form#form-login-password,
html.dark-mode body form#form-login-pin,
html.dark-mode body .centrala-uzytkownik-container,
html.dark-mode body .sklep-uzytkownik-container,
html.dark-mode body nav,
html.dark-mode body .centrala-main-container,
html.dark-mode body form#przypisywanie-uzytkownika,
html.dark-mode body form#dodawanie-smaku,
html.dark-mode body form#dodawanie-uzytkownika,
html.dark-mode body form#dodawanie-rozmiaru,
html.dark-mode body form#dodawanie-sklepu,
html.dark-mode body .centrala-filtrowanie,
html.dark-mode body form.ustawienia,
html.dark-mode body form.serwis,
html.dark-mode body .ulozenie-kuwet-container,
html.dark-mode body .dostepne-kuwety-container,
html.dark-mode body .sklep-wybor-towarow,
html.dark-mode body .sklep-pozycje-wydania,
html.dark-mode body .zamowienie-dostepne-kuwety,
html.dark-mode body .zamowienie-dostepne-smaki,
html.dark-mode body .zamowienie-zamowione-kuwety,
html.dark-mode body p#zamowienia-info,
html.dark-mode body form#dodawanie-kuwet,
html.dark-mode body .zamowienie-smaki-container,
html.dark-mode body .zamowienie-pozostale-container,
html.dark-mode body .zamowienie-pozycje-zamowione-container {
  background: var(--background-container-dark-color);
}

/* DARK INPUT */
html.dark-mode body input,
html.dark-mode body select,
html.dark-mode body table#pin-keyboard .pin-key,
html.dark-mode body #przypisywanie-uzytkownika-sklepy,
html.dark-mode body nav .dropdown-menu,
html.dark-mode body .progress-container,
html.dark-mode body .sklep-menu-btn:disabled,
html.dark-mode body .ulozenie-kuwet-kuweta,
html.dark-mode body span#wartosc-wydania,
html.dark-mode body .apexcharts-menu,
html.dark-mode body .wykres-container {
  background: var(--background-input-dark-color);
}

/* DARK BUTTON */
html.dark-mode body button,
html.dark-mode body button#theme-toggle,
html.dark-mode body table#pin-keyboard .pin-key:active,
html.dark-mode body table#pin-keyboard .pin-key-action,
html.dark-mode body nav a.logo,
html.dark-mode body nav a.nav-link:hover,
html.dark-mode body nav a.active,
html.dark-mode body table#centrala-smaki thead th,
html.dark-mode body table#centrala-uzytkownicy thead th,
html.dark-mode body table#centrala-rozmiary thead th,
html.dark-mode body table#centrala-sklepy thead th,
html.dark-mode body table#centrala-kuwety thead th,
html.dark-mode body table#centrala-rcp thead th,
html.dark-mode body table#centrala-status-kuwety thead th,
html.dark-mode body table#rcp-user-data thead th,
html.dark-mode body table#kuwety-table thead th,
html.dark-mode body .sklep-pozycje-wydania h2,
html.dark-mode body .podsumowanie-wydania,
html.dark-mode body table#centrala-ceny thead th,
html.dark-mode body table#kuwety-table tbody hr,
html.dark-mode body .zamowienie-smaki-container h2,
html.dark-mode body .zamowienie-pozostale-container h2,
html.dark-mode body .zamowienie-pozycje-zamowione-container h2,
html.dark-mode body table#zamowienie-dostepne-smaki thead th,
html.dark-mode body table#zamowienie-pozostale-towary thead th,
html.dark-mode body table#zamowienie-pozycje-zamowione thead th,
html.dark-mode body table#centrala-zamowienia thead th,
html.dark-mode body table#centrala-puste-kuwety thead th {
  background: var(--button-dark-color);
}

/* DARK BUTTON HOVER */
html.dark-mode body button:hover,
html.dark-mode body button#theme-toggle:hover,
html.dark-mode body table#pin-keyboard .pin-key-action:hover,
html.dark-mode body .centrala-uzytkownik-container button:hover,
html.dark-mode body .sklep-uzytkownik-container button:hover {
  background: var(--button-hover-dark-color);
}

/* DARK BORDER */
html.dark-mode body input,
html.dark-mode body select,
html.dark-mode body input:focus,
html.dark-mode body select:focus,
html.dark-mode body table#pin-keyboard .pin-key,
html.dark-mode body #przypisywanie-uzytkownika-sklepy,
html.dark-mode body .ulozenie-kuwet-kuweta {
  border: 1px solid var(--border-dark-color);
}

/* DARK TEXT COLOR */
html.dark-mode body,
html.dark-mode body input,
html.dark-mode body select,
html.dark-mode body table#pin-keyboard .pin-key,
html.dark-mode body table#pin-keyboard .pin-key:active,
html.dark-mode body nav a.nav-link,
html.dark-mode body .centrala-main-container,
html.dark-mode body table#centrala-smaki thead th,
html.dark-mode body table#centrala-uzytkownicy thead th,
html.dark-mode body table#centrala-rozmiary thead th,
html.dark-mode body table#centrala-sklepy thead th,
html.dark-mode body table#centrala-kuwety thead th,
html.dark-mode body table#centrala-rcp thead th,
html.dark-mode body .progress-text,
html.dark-mode body .ulozenie-kuwet-container h2,
html.dark-mode body p#zamowienia-info,
html.dark-mode body p#message-login {
  color: var(--text-white-color);
}

/* DARK TEXT COMMENT COLOR */
html.dark-mode body p#dodawanie-komentarz {
  color: var(--button-dark-color);
}

html.dark-mode body .apexcharts-title-text,
html.dark-mode body .wykres-container tspan,
html.dark-mode body .apexcharts-legend-text,
html.dark-mode body .apexcharts-menu-icon svg,
html.dark-mode body .apexcharts-reset-icon svg,
html.dark-mode body .apexcharts-zoom-icon svg,
html.dark-mode body .apexcharts-zoomin-icon svg,
html.dark-mode body .apexcharts-zoomout-icon svg,
html.dark-mode body .centrala-help-container h1,
html.dark-mode body .centrala-help-container h2,
html.dark-mode body .centrala-help-container h3,
html.dark-mode body .centrala-help-container h4,
html.dark-mode body .nav-link-container a {
  fill: var(--text-white-color);
  color: var(--text-white-color) !important;
}

html.dark-mode body p#zamowienia-info {
  border: 2px solid var(--button-dark-color);
}

html.dark-mode .apexcharts-tooltip.apexcharts-theme-light {
  background: var(--background-container-dark-color) !important;
}

html.dark-mode .apexcharts-tooltip-title {
  background: var(--background-dark-color) !important;
}

html.dark-mode body #smak-podglad {
  color: var(--text-black-color);
}

html.dark-mode body .centrala-help-container h2,
html.dark-mode body .centrala-help-container h3,
html.dark-mode body .centrala-help-container h4 {
  border-color: var(--button-dark-color);
}

html.dark-mode body .zamowienie-smak-btn,
html.dark-mode body .zamowienie-towar-btn {
  background: var(--green-color);
}

html.dark-mode body .zamowienie-smak-btn:hover,
html.dark-mode body .zamowienie-towar-btn:hover {
  background: var(--green-hover-color);
}

html.dark-mode body .zamowienie-pozycja-anuluj {
  background: var(--red-color);
}

html.dark-mode body .zamowienie-pozycja-anuluj:hover {
  background: var(--red-hover-color) !important;
}
