:root {
  /* LIGHT */
  --background-light-color: rgb(236, 237, 255);
  --background-container-light-color: rgb(255, 255, 255);
  --button-light-color: rgb(81, 85, 195);
  --button-hover-light-color: rgb(54, 58, 182);
  --background-input-light-color: rgb(245, 245, 245);
  --border-light-color: #aaa;

  /* DARK */
  --background-dark-color: rgb(16, 23, 39);
  --background-container-dark-color: rgb(23, 33, 68);
  --button-dark-color: rgb(152, 79, 231);
  --button-hover-dark-color: rgb(128, 37, 226);
  --background-input-dark-color: rgb(29, 42, 88);
  --border-dark-color: rgb(39, 59, 131);

  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --text-white-color: rgb(255, 255, 255);
  --text-black-color: rgb(0, 0, 0);

  --blue-color: #007bff;
  --blue-hover-color: #0068d6;
  --red-color: #dc3545;
  --red-hover-color: #be0d1f;
  --green-color: #28a745;
  --green-hover-color: #188d33;

  --red-rgba-color: rgba(220, 53, 69, 0.3);
}

@media screen and (max-width: 576px) {
  button#zmiana-logowania {
    display: block;
  }

  .theme-container {
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    margin: 0;
    padding: 0;
  }

  form#form-login-pin {
    display: none;
  }

  form#form-login-password,
  form#form-login-pin {
    width: 100%;
    height: 50vh;
  }

  form#form-login-password .form-container,
  form#form-login-pin .form-container {
    padding: 10px;
  }

  form#form-login-password input,
  form#form-login-password button,
  form#form-login-pin input,
  form#form-login-pin button {
    width: 100%;
  }

  .pin-key,
  .pin-key-action {
    display: none;
  }

  form#form-login-pin button#pin-zaloguj {
    display: block;
  }

  html,
  body,
  .centrala-container,
  nav {
    height: 100%;
  }

  nav {
    display: none;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
  }

  nav .dropdown-menu {
    left: 0;
    top: 100%;
    width: 100%;
  }

  nav a.logo {
    border-radius: 0;
    font-size: 20px;
    padding: 5px;
    height: 60px;
    letter-spacing: 1px;
  }

  nav a.nav-link {
    font-size: 16px;
  }

  nav a.nav-link img {
    height: 25px;
  }

  button#menu-display {
    display: block !important;
    z-index: 200;
    position: absolute;
    left: 5px;
    top: 5px;
  }

  button#menu-display:hover {
    background: var(--button-light-color);
  }

  .centrala-uzytkownik-container {
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    border-radius: 0;
    gap: 5px;
  }

  .centrala-uzytkownik-container button {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .centrala-filtrowanie {
    top: 70px;
    width: calc(100% - 20px);
    margin: 0 10px;
    left: 0;
    height: 50px;
  }

  .centrala-filtrowanie select {
    width: 100%;
    height: 40px;
  }

  .centrala-container {
    padding: 10px;
  }

  main {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  .centrala-main-container {
    max-height: calc(100% - 120px);
    margin-top: 120px;
    width: 100%;
  }

  table#centrala-ceny {
    height: 100%;
    max-height: 100%;
  }

  table#centrala-ceny tbody {
    height: calc(100% - 80px);
    max-height: calc(100% - 80px);
  }

  table#centrala-ceny thead th,
  table#centrala-ceny tbody td {
    font-size: 14px;
  }

  table#centrala-ceny thead th:nth-child(2) {
    border-radius: 10px 0 0 0;
  }

  table#centrala-ceny thead th:first-child,
  table#centrala-ceny tbody td:first-child,
  table#centrala-ceny thead th:nth-child(4),
  table#centrala-ceny tbody td:nth-child(4),
  table#centrala-ceny thead th:nth-child(5),
  table#centrala-ceny tbody td:nth-child(5) {
    display: none;
  }

  table#centrala-ceny thead th:nth-child(3),
  table#centrala-ceny tbody td:nth-child(3) {
    width: 100px;
  }

  input.cena-towaru {
    width: 90%;
    margin: 0;
    font-size: 14px;
  }

  table#centrala-ceny tbody td:last-child,
  table#centrala-ceny thead th:last-child {
    width: 70px;
  }

  table#centrala-ceny tbody td:last-child button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }

  table#centrala-ceny tbody td:last-child button img {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
}
